body {
    font-family: 'Roboto', sans-serif;
}

/***********************************
Styling for 'Header' & 'Navigation'
************************************/

header, nav {
    background-color: #2341D8; 
    color: #F4F6FE;
}

header {
    text-align: center;
}

/************************
Styling for 'Navigation' 
************************/


nav li {
    padding-left: 4%;
    padding-bottom: 2%;
}

/****************
Styling for 'H1'
*****************/


h1, h4 {
    margin: 0 auto;
    margin-top: 10%;
    font-size: 1.5em;
    text-align: center;
    color: #201F43;
}

/***********************
Styling for 'Bar Chart'
***********************/

.chart {
    background: url("http://cl.ly/QSpc/bg-chart.png");
    /*width: 100%;*/
    height: 425px;
    /*border-bottom: 2px solid black;
    border-left: 2px solid black;*/
    margin-left: 3%;
}

.chart li {
    display: inline-block;
    /*top: -500px;*/
    height: 425px;
    width: 20px;
    padding: 0 25px;
    position: relative;
    vertical-align: baseline;
    /*margin-top: 60%;*/
}

.chart .percent {
    font-size: 20px;
    color:  #F4F6FE;
    opacity: .4;
    width: 100%;
    position: absolute;
    align-content: center;
}

.chart .height10 {
    height: 10%;
}

.chart .height20 {
    height: 20%;
}

.chart .height25 {
    height: 25%;
}

.chart .height30 {
    height: 30%;
}

.chart .lightBlue {
    background: #2341D8;
    border: 1px solid #201F43;
}

.chart .navyBlue {
    background: #201F43;
    border: 1px solid #2341D8;
}

#yAxis {
    display: inline-block;
    /*top: -500px;*/
    width: 0.25em;
    height: 500px;
    background-color: black;   
}

/***********************
Styling for 'Pie Chart'
***********************/

/********************************
to cancel out styles in bar chart
********************************/

ul li { 
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

/*********************
the hole in the middle
**********************/

.pieChart {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 200px;
    border: 3px solid #fff;
    background-color: #fff;
}

/***********
top segment
***********/

.segmentOne {
    width: 1;
    height: 1;
    border-top: 60px solid gray;
}

/***********
right segment
***********/

.segmentTwo {
    width: 1;
    height: 1;
    border-right: 60px solid #000;
}

/***********
bottom segment
***********/

.segmentThree {
    width: 1;
    height: 1;
    border-bottom: 60px solid #2341D8;
}

/***********
left segment
***********/

.segmentFour {
    width: 1;
    height: 1;
    border-left: 60px solid #201F43;
}

.percent {
    color: #F4F6FE;
    width: 200px;
    height: 25px;
    display: block;
    margin: 0 auto;
    /*border-radius: 25px;*/
}

.five {
    border: 3px solid gray;
    background-color: gray;
}

.ten {
    border: 3px solid #000;
    background-color: #000;
}

.fifteen {
    border: 3px solid #2341D8;
    background-color: #2341D8;
}

.twenty {
    border: 3px solid #201F43;
    background-color: #201F43;
}

span {
    color: #F4F6FE;
}


/*.segment {
    width: 1;
    height: 1;
    border-top: 60px solid #201F43;
    border-right: 60px solid #000;
    border-bottom: 60px solid #2341D8;
    border-left: 60px solid gray;
}*/

/*************************
Styling for tech companies
**************************/

.containerTop, .containerBottom {
    display: inline-block;
    width: 20%;
    height: 0;
    padding-top: 10%;
    padding-bottom: 15%;
    color: #F4F6FE;
    text-align: center;
    background-color: #201F43;
}


/********************************
Styling for female tech positions
*********************************/

/********************************
to cancel out styles in pie chart
********************************/

ul li { 
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#container {
    background-image: url(../img/cohort3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shape {
    width: 80px;
    height: 60px;
    display: block;
    margin: 0 auto;
    /*border: 3px solid #ffbf00;*/
} 

/*.container {
    background-color: #ffbf00;
    width: 150px;
    height: auto;
}*/

.lights {
    background-color: darkgray;
}


#startButton {
    color: #F4F6FE;
    background-color: #201F43;
    border: solid 2px #201F43;
    padding: 2%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 8%;
}


/**************************
Styling for 'Answer field'
**************************/

#answer {
    margin: 0 auto;
    margin-top: 30%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    color: #201F43;
}

/*********************************
Styling for 'Next Question' Button
**********************************/

#question {
    color: #F4F6FE;
    background-color: #201F43;
    border: solid 2px #201F43;
    padding: 2%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 8%;
}

/*******************
Styling for 'Footer' 
********************/

footer {
    background-color: #201F43;
    color: #F4F6FE;
    text-align: center;
    padding: 2%;
}




