* {
    border: 1px solid red;
}
/****************
Styling for 'H1'
*****************/


h1, h4 {
    margin: 0 auto;
    margin-top: 10%;
    font-size: 1.5em;
    text-align: center;
    color: #201F43;
}

/***********************
Styling for 'Bar Chart'
***********************/

.chart {
    background: url("http://cl.ly/QSpc/bg-chart.png");
    /*width: 100%;*/
    height: 425px;
    /*border-bottom: 2px solid black;
    border-left: 2px solid black;*/
    margin-left: 3%;
}

.chart li {
    display: inline-block;
    /*top: -500px;*/
    height: 425px;
    width: 20px;
    padding: 0 25px;
    position: relative;
    vertical-align: baseline;
    /*margin-top: 60%;*/
}

.chart .percent {
    font-size: 20px;
    color:  #F4F6FE;
    opacity: .4;
    width: 100%;
    position: absolute;
    align-content: center;
}

.chart .height10 {
    height: 10%;
}

.chart .height20 {
    height: 20%;
}

.chart .height25 {
    height: 25%;
}

.chart .height30 {
    height: 30%;
}

.chart .lightBlue {
    background: #2341D8;
    border: 1px solid #201F43;
}

.chart .navyBlue {
    background: #201F43;
    border: 1px solid #2341D8;
}

#yAxis {
    display: inline-block;
    /*top: -500px;*/
    width: 0.25em;
    height: 500px;
    background-color: black;   
}

/***********************
Styling for 'Pie Chart'
***********************/

/********************************
to cancel out styles in bar chart
********************************/

ul li { 
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

/*********************
the hole in the middle
**********************

.pieChart {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 200px;
    border: 3px solid #fff;
    background-color: #fff;
}

/***********
top segment
***********

.segmentOne {
    width: 1;
    height: 1;
    border-top: 60px solid gray;
}

/***********
right segment
***********

.segmentTwo {
    width: 1;
    height: 1;
    border-right: 60px solid #000;
}

/***********
bottom segment
***********

.segmentThree {
    width: 1;
    height: 1;
    border-bottom: 60px solid #2341D8;
}

/***********
left segment
***********

.segmentFour {
    width: 1;
    height: 1;
    border-left: 60px solid #201F43;
}

.percent {
    color: #F4F6FE;
    width: 200px;
    height: 25px;
    display: block;
    margin: 0 auto;
    /*border-radius: 25px;
}

.five {
    border: 3px solid gray;
    background-color: gray;
}

.ten {
    border: 3px solid #000;
    background-color: #000;
}

.fifteen {
    border: 3px solid #2341D8;
    background-color: #2341D8;
}

.twenty {
    border: 3px solid #201F43;
    background-color: #201F43;
}

span {
    color: #F4F6FE;
}


/*.segment {
    width: 1;
    height: 1;
    border-top: 60px solid #201F43;
    border-right: 60px solid #000;
    border-bottom: 60px solid #2341D8;
    border-left: 60px solid gray;
}*/

.person {
    display: block;
    margin: 0 auto;
}

.leadership {
    display: block;
    margin: 0 auto;
    margin-top: 8%;
    color: #F4F6FE;
    background-color: #2341D8;
    border: solid 2px #2341D8;
    padding: 2%;
    text-align: center;
}

#trueButton {
    margin-bottom: 8%;
}

#trueButton, #falseButton {
    background-color: #2341D8;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    padding: 2%;
    width: 50%;
}

#trueButton:hover, #falseButton:hover {
    background-color: #201F43;
    border: solid 2px #201F43;
}

#trueButton:active, #falseButton:active {
    background-color: #201F43;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




/*************************
Styling for tech companies
**************************/

.containerBase {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
}

.Apple {
    margin-top: 2%;
    background: url("../img/apple.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Ebay {
    background: url("../img/ebay.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Linkedin {
    background: url("../img/linkedin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Google {
    background: url("../img/google.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Microsoft {
    background: url("../img/microsoft.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Yahoo {
    background: url("../img/yahoo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Facebook {
    background: url("../img/facebook.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Twitter {
    background: url("../img/twitter.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.containerPercent {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    background-color: #201F43;
    color: #F4F6FE;
    text-align: center;
    font-size: 2em;
}


    
/********************************
Styling for female tech positions
*********************************/

/********************************
to cancel out styles in pie chart
********************************/

ul li { 
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#container {
    /*background-image: url(../img/cohort3.jpeg);*/
    background: linear-gradient(to left, #66ccff, #0000ff);
    background-repeat: no-repeat;
    background-size: cover;
}

.shape {
    width: 80px;
    height: 60px;
    display: block;
    margin: 0 auto;
    /*border: 3px solid #ffbf00;*/
} 

/*.container {
    background-color: #ffbf00;
    width: 150px;
    height: auto;
}*/

.lights {
    background-color: darkgray;
}


#startButton {
    color: #F4F6FE;
    background-color: #201F43;
    border: solid 2px #201F43;
    padding: 2%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 8%;
}


/**************************
Styling for 'Answer field'
**************************/

#answer {
    margin: 0 auto;
    margin-top: 30%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    color: #201F43;
}

/*********************************
Styling for 'Next Question' Button
**********************************/

#question {
    text-decoration: none;
    color: #F4F6FE;
    background-color: #2341D8;
    border: solid 2px #2341D8;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    padding: 2%;
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 8%;
}

#question:hover {
    background-color: #201F43;
    border: solid 2px #201F43;
}

#question:active {
    background-color: #201F43;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*******************
Styling for 'Footer' 
********************/

footer {
    background-color: #201F43;
    color: #F4F6FE;
    text-align: center;
    padding: 2%;
}



/* TABLET CODE*/

@media screen and (min-width: 768px) {
    .left {
        float: left;
        width: 50%;
    }
    
    .right {
        float: right;
        width: 50%;
    }
    
    .row:after {
        content: "";
        clear: both;
        display: table;
    }
    
    .responsive {
        display: inline-block;
        width: 50%;
    }
    
    footer, #question {
        content: "";
        clear: both;
        display: table;
    }

}

/* DESKTOP CODE*/

@media screen and (min-width: 1024px) {
    
    .responsive {
        display: inline-block;
        width: 24%;
    }
    
}




