/****************
Styling for 'H2'
*****************/

h2 {
    margin: 1em;
    font-size: 1.5em;
    text-align: center;
    color: #201F43;
}


/**************************
Styling for 'Answer field'
**************************/

#answer {
    margin: 0 auto;
    margin-top: 30%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    color: #201F43;
}


/*********************************
Styling for 'Next Question' Button
**********************************/

#question {
    text-decoration: none;
    color: #F4F6FE;
    background-color: #2341D8;
    border: solid 2px #2341D8;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    padding: 2%;
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 8%;
}

#question:hover {
    background-color: #201F43;
    border: solid 2px #201F43;
}

#question:active {
    background-color: #201F43;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* TABLET CODE*/

@media screen and (min-width: 768px) {
    .left {
        float: left;
        width: 50%;
    }
    
    .right {
        float: right;
        width: 50%;
    }
    
    .row:after {
        content: "";
        clear: both;
        display: table;
    }
    
    .responsive {
        display: inline-block;
        width: 50%;
    }
    
    footer, #question {
        content: "";
        clear: both;
        display: table;
    }
    
    .chart {
        background: url("http://cl.ly/QSpc/bg-chart.png");
        width: 50%;
        height: 320px;
        margin-left: 25%;
    }

}

/* DESKTOP CODE*/

@media screen and (min-width: 1024px) {
    
    .responsive {
        display: inline-block;
        width: 24%;
    }
    
}
