/****************
Styling for 'H2'
*****************/

h2 {
    margin: 1em;
    font-size: 1.5em;
    text-align: center;
    color: #201F43;
}


/**************************
Styling for 'Answer field'
**************************/

#answer {
    margin: 0 auto;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    text-align: center;
    color: #201F43;
    font-size: 1.5em;
}


/*********************************
Styling for 'Next Question' Button
**********************************/

.question {
    text-decoration: none;
    color: #F4F6FE;
    font-size: 1em;
    background-color: #2341D8;
    border: solid 2px #2341D8;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    padding: 2%;
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 8%;
}

.question:hover {
    background-color: #201F43;
    border: solid 2px #201F43;
}

.question:active {
    background-color: #201F43;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* TABLET CODE*/

@media screen and (min-width: 768px) {
    
    h2 {
        font-size: 1.5em;
    }
    
    #answer {
        font-size: 1.5em;
    }
    
    .question {
        font-size: 1.5em;
    }
    
}

/* DESKTOP CODE*/

@media screen and (min-width: 1024px) {
    
    h2 {
        font-size: 2em;
    }
    
    #answer {
        font-size: 2em;
    }
    
    .question {
        font-size: 1.5em;
    }
    
}



