/***********************
Styling for 'True/False'
***********************/

.questionFour {
    margin-bottom: 0%;
}

.person {
    display: block;
    margin: 0 auto;
    transform: scale(0.75);
}

.leadership {
    display: block;
    margin: 0 auto;
    margin-top: 8%;
    color: #F4F6FE;
    background-color: #2341D8;
    border: solid 2px #2341D8;
    padding: 2%;
    text-align: center;
}

#trueButton {
    margin-top: 0%;
    margin-bottom: 0%;
}

#falseButton {
    margin-top: 0%;
    margin-bottom: 0%;
}

#trueButton, #falseButton {
    font-size: 1em;
    background-color: #2341D8;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    padding: 2%;
    width: 50%;
}

#trueButton:hover, #falseButton:hover {
    background-color: #201F43;
    border: solid 2px #201F43;
}

#trueButton:active, #falseButton:active {
    background-color: #201F43;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#answer {
    margin-top: 5%;
}


/* TABLET CODE*/

@media screen and (min-width: 768px) {
    .left {
        float: left;
        width: 50%;
    }
    
    .right {
        float: right;
        width: 50%;
    }
    
    .row:after {
        content: "";
        clear: both;
        display: table;
    }
    
    .responsive {
        display: inline-block;
        width: 50%;
    }
    
    footer, .question {
        content: "";
        clear: both;
        display: table;
    }
    
    .chart {
        background: url("http://cl.ly/QSpc/bg-chart.png");
        width: 50%;
        height: 320px;
        margin-left: 25%;
    }
    
    #falseButton, #trueButton {
        font-size: 1.5em;
    }

}

/* DESKTOP CODE*/

@media screen and (min-width: 1024px) {
    
    .responsive {
        display: inline-block;
        width: 24%;
    }
    
    #falseButton, #trueButton {
        font-size: 1.5em;
    }
    
}
