* {
	position: relative;
}

/*GENERAL TEXT STYLES*/

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
    color: #201F43;
	line-height: 1.5;
}
h1 {
	font-size: 2.4em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.6em;
}
h5 {
	font-size: 1.2em;
}



/*HEADER*/

header {
	width: 85%;
    margin:auto;
    background-color: #F4F6FE;
    color: #201F43;
}

header h1 {
	font-weight: 900;
	font-size: 32px;
	width: fit-content;
	display: inline-block;
	/*	padding: top right bottom left;*/
	padding: 0.2em 0.5em 0.2em 0.1em;
}

header * {
	vertical-align: middle;
}

#logo {
	width:70px;
	height:70px;
}

/*ANIMATED BURGER MENU*/

.menu-container {
    display: inline-block;
    float: right;
    cursor: pointer;
	padding-top: 15px;
    padding-right: 5%;
    width: fit-content;
    height: fit-content;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #2341D8;
	border-radius: 3px;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*NAVIGATION*/
nav{
	display: none;
	width: 85%;
    margin: auto;
	background-color: #F4F6FE;
    color: #201F43;
}
nav li {
	list-style: none;
	width: 23%;
	display: inline-block;
	margin: auto;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
nav a, nav a:visited, nav a:active {
	color: #201F43;
	font-weight: 400;
	text-decoration: none;
}

/*MAIN*/

main {
	width: 100%;
	min-height: 80vh;
}

/*INDEX*/

#home {
	width: 85%;
	margin: auto;
	font-size: 18px;
}

#para1 {
    text-align: center;
}

#wecandoit {
    border-radius: 5px;
    display: block;
    margin: auto;
	width: 70%;
	max-width: 550px;
/*	padding: 1em;*/
}

#start-button {
    text-decoration: none;
    color: #F4F6FE;
    font-size: 1em;
    background-color: #2341D8;
    border: solid 2px #2341D8;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    padding: 2%;
    width: fit-content;
    text-align: center;
    display: block;
    margin: 0 auto;
/*    margin-top: 20%;*/
/*    margin-bottom: 8%;*/
}

#start-button:hover {
    background-color: #201F43;
    border: solid 2px #201F43;
}

#start-button:active {
    background-color: #201F43;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*ABOUT US*/

#aboutus {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
    color: #201F43;
	line-height: 1.5;
	font-size: 18px;
    width: 85%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word; 
}

/*FURTHER INFO*/

#furth-info{
	max-width: 1000px;
	margin: auto;
}

/*FOOTER*/

footer {
	clear: both;
	width: 85%;
    margin: auto;
    background-color:#201F43;
    color: #F4F6FE;
    text-align: center;
}

footer p {
	padding: 0.5em;
}